.btn.btn-primary{
    border-color: #d9a183;
    background-color: #d9a183;
    margin-bottom: 20px;
}

.btn.btn-primary:hover {
    border-color: #864f39;
    background-color: #864f39;
}

.btn.btn-primary:active {
    border-color: #864f39 !important;
    background-color: #864f39 !important;
}
.btn-primary:focus {
    box-shadow: none !important;
}

.btn.btn-primary:focus {
    border-color: #864f39 !important;
    background-color: #864f39 !important;
}

.btn.btn-danger{
    border-color: #bb7278;
    background-color: #bb7278;
}

.btn.btn-danger:hover {
    border-color: #a83f47;
    background-color: #a83f47;
}

.btn-danger:focus {
    box-shadow: none !important;
}

.btn.btn-danger:focus {
    border-color: #a83f47 !important;
    background-color: #a83f47 !important;
}

.btn.btn-success{
    border-color: #9c96d0;
    background-color: #9c96d0;
}

.btn.btn-success:hover {
    border-color: #605a8d;
    background-color: #605a8d;
}

.btn.btn-success:active {
    border-color: #605a8d !important;
    background-color: #605a8d !important;
}
.btn-success:focus {
    box-shadow: none !important;
}

.btn.btn-success:focus {
    border-color: #605a8d !important;
    background-color: #605a8d !important;
}

.list-group-item{
    background-color: #c7c6c6 !important;
    margin-bottom: 15px !important;
}

.container{
    width: 80%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row.low{
    margin-bottom: 30px !important;
}